<%- include('../partials/header') %>

  <h2>Категорії товарів</h2>
  <ul>
    <% categories.forEach(category=> { %>
      <li>
        <a href="/products/category/<%= category._id %>">
          <%= category.name || '❌ без назви' %>
        </a>
      </li>
      <% }) %>
  </ul>
  <%- include('../partials/footer') %>