<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>
    <%= title || 'Product Page' %>
  </title>
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <header>
    <h1>MY SHOP</h1>
    <hr>
  </header>