doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1 MY SHOP
      hr
    block content
    footer
      hr
      p &copy; 2025 My App
